In [1]:
import pandas as pd
import json
import urllib.request as url
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [2]:
path = "https://api.covid19india.org/states_daily.json"
response = url.urlopen(path)
data = json.load(response)

In [3]:
df = pd.DataFrame(data['states_daily'])

In [4]:
df.shape

(1563, 42)

In [5]:
df.head()

,an,ap,ar,as,br,ch,ct,date,dateymd,dd,...,sk,status,tg,tn,tr,tt,un,up,ut,wb
0,0,1,0,0,0,0,0,14-Mar-20,2020-03-14,0,...,0,Confirmed,1,1,0,81,0,12,0,0
1,0,0,0,0,0,0,0,14-Mar-20,2020-03-14,0,...,0,Recovered,0,0,0,9,0,4,0,0
2,0,0,0,0,0,0,0,14-Mar-20,2020-03-14,0,...,0,Deceased,0,0,0,2,0,0,0,0
3,0,0,0,0,0,0,0,15-Mar-20,2020-03-15,0,...,0,Confirmed,2,0,0,27,0,1,0,0
4,0,0,0,0,0,0,0,15-Mar-20,2020-03-15,0,...,0,Recovered,1,0,0,4,0,0,0,0

In [6]:
confirmed_df = df[df['status'] == 'Confirmed']

In [7]:
total_cases = confirmed_df['tt']

In [8]:
total_cases[:10]

0      81
3      27
6      15
9      11
12     37
15     27
18     58
21     78
24     67
27    102
Name: tt, dtype: object