In [1]:
import numpy as np

In [2]:
data = {
    "height" : [5.6, 5.8, 5.9, 5.0, 4.9, 5.2, 5.9, 5.9, 6.2, 6.0, 5.9, 5.0, 5.2, 5.3, 5.2],
    "weight" : [70, 78, 88, 50, 48, 55, 75, 80, 85, 90, 82, 49, 55, 60, 53],
    "gender" : [1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0]
}

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame(data)

In [6]:
df.head()

   height  weight  gender
0     5.6      70       1
1     5.8      78       1
2     5.9      88       1
3     5.0      50       0
4     4.9      48       0

In [7]:
test_data = {'height': [5.9], 'weight' : [79]}

In [8]:
def distance(x1,x2,y1,y2):
    return np.sqrt(((x2-x1) ** 2) + ((y2 -  y1) ** 2))

In [20]:
def knn(data, test_data, k=3):
    ndist = []
    for i in range(len(data)):
        x1 = data['height'][i]
        x2 = test_data['height'][0]
        y1 = data['weight'][i]
        y2 = test_data['weight'][0]
        d = distance(x1, x2, y1, y2)
        ndist.append(d)
    #print(ndist)
    ndist = np.asarray(ndist)
    sorted_indexes = np.argsort(ndist)
    neighbors = data['gender'][sorted_indexes][:k]
    print(neighbors)
    unique_neighbors = np.unique(neighbors, return_counts=True)
    return unique_neighbors

In [21]:
test_data = {'height': [5.5], 'weight' : [65]}
knn(df, test_data, k=7)

0     1
13    0
5     0
12    0
6     1
14    0
1     1
Name: gender, dtype: int64

(array([0, 1], dtype=int64), array([4, 3], dtype=int64))