In [1]:
import urllib.request as url
import json
import pandas as pd

In [2]:
path = "https://data.covid19india.org/states_daily.json"
response = url.urlopen(path)

In [3]:
data = json.load(response)

In [5]:
states = data['states_daily']

In [7]:
df = pd.DataFrame(states)

In [8]:
df.shape

(1563, 42)

In [9]:
# will show first 5 observations
df.head()

,an,ap,ar,as,br,ch,ct,date,dateymd,dd,...,sk,status,tg,tn,tr,tt,un,up,ut,wb
0,0,1,0,0,0,0,0,14-Mar-20,2020-03-14,0,...,0,Confirmed,1,1,0,81,0,12,0,0
1,0,0,0,0,0,0,0,14-Mar-20,2020-03-14,0,...,0,Recovered,0,0,0,9,0,4,0,0
2,0,0,0,0,0,0,0,14-Mar-20,2020-03-14,0,...,0,Deceased,0,0,0,2,0,0,0,0
3,0,0,0,0,0,0,0,15-Mar-20,2020-03-15,0,...,0,Confirmed,2,0,0,27,0,1,0,0
4,0,0,0,0,0,0,0,15-Mar-20,2020-03-15,0,...,0,Recovered,1,0,0,4,0,0,0,0

In [10]:
# will show last 5 observations
df.tail()

,an,ap,ar,as,br,ch,ct,date,dateymd,dd,...,sk,status,tg,tn,tr,tt,un,up,ut,wb
1558,2,1835,255,857,38,1,114,15-Aug-21,2021-08-15,0,...,213,Recovered,582,1842,253,35936,0,36,31,709
1559,0,16,0,10,0,0,1,15-Aug-21,2021-08-15,0,...,0,Deceased,1,23,4,421,0,1,0,12
1560,1,909,165,758,14,2,68,16-Aug-21,2021-08-16,0,...,20,Confirmed,405,1851,52,24696,0,17,18,502
1561,0,1543,249,1014,42,3,224,16-Aug-21,2021-08-16,0,...,147,Recovered,577,1911,223,36871,0,36,54,691
1562,0,13,0,10,0,0,1,16-Aug-21,2021-08-16,0,...,0,Deceased,3,28,1,438,0,1,1,9

In [11]:
df['dl']

0        7
1        1
2        1
3        0
4        1
        ..
1558    18
1559     0
1560    27
1561    73
1562     0
Name: dl, Length: 1563, dtype: object

In [13]:
df['dl'][0]

'7'

In [14]:
df['dl'] = df['dl'].astype('int32')

In [16]:
df['dl'][0]

7

In [17]:
df['dl'].sum()

2873769