In [1]:
import numpy as np
import pandas as pd
import random
import copy

In [2]:
df = pd.read_csv('diabetes.csv')

In [3]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
pd.value_counts(df['Outcome'])

0    500
1    268
Name: Outcome, dtype: int64

In [19]:
# feature scaling
def minMaxScaler(x):
    minValues = []
    maxValues = []
    for i in range(len(x[0])):
        data = []
        for j in range(len(x)):
            data.append(x[j][i])
        minValues.append(min(data))
        maxValues.append(max(data))
    
    for i in range(len(x[0])):
        for j in range(len(x)):
            numer = x[j][i] - minValues[i]
            denom = maxValues[i] - minValues[i]
            x[j][i] = numer / denom
    
    return x

In [20]:
x = minMaxScaler(df.values)

In [22]:
x[0]

array([0.35294118, 0.74371859, 0.59016393, 0.35353535, 0.        ,
       0.50074516, 0.23441503, 0.48333333, 1.        ])

In [6]:
# train test split
def cross_validation():
    pass

In [7]:
def predict():
    pass

In [8]:
def accuracy():
    pass

In [9]:
def gradientDescent():
    pass

In [10]:
def logisitc():
    pass

In [11]:
def evaluate():
    pass