In [1]:
import numpy as np
import pandas as pd

In [15]:
df = pd.read_csv('UCI HAR Dataset/train/X_train.txt', header=None, delim_whitespace=True)

In [16]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,551,552,553,554,555,556,557,558,559,560
0,0.288585,-0.020294,-0.132905,-0.995279,-0.983111,-0.913526,-0.995112,-0.983185,-0.923527,-0.934724,...,-0.074323,-0.298676,-0.710304,-0.112754,0.030400,-0.464761,-0.018446,-0.841247,0.179941,-0.058627
1,0.278419,-0.016411,-0.123520,-0.998245,-0.975300,-0.960322,-0.998807,-0.974914,-0.957686,-0.943068,...,0.158075,-0.595051,-0.861499,0.053477,-0.007435,-0.732626,0.703511,-0.844788,0.180289,-0.054317
2,0.279653,-0.019467,-0.113462,-0.995380,-0.967187,-0.978944,-0.996520,-0.963668,-0.977469,-0.938692,...,0.414503,-0.390748,-0.760104,-0.118559,0.177899,0.100699,0.808529,-0.848933,0.180637,-0.049118
3,0.279174,-0.026201,-0.123283,-0.996091,-0.983403,-0.990675,-0.997099,-0.982750,-0.989302,-0.938692,...,0.404573,-0.117290,-0.482845,-0.036788,-0.012892,0.640011,-0.485366,-0.848649,0.181935,-0.047663
4,0.276629,-0.016570,-0.115362,-0.998139,-0.980817,-0.990482,-0.998321,-0.979672,-0.990441,-0.942469,...,0.087753,-0.351471,-0.699205,0.123320,0.122542,0.693578,-0.615971,-0.847865,0.185151,-0.043892

In [17]:
df.shape

(7352, 561)

In [18]:
y_df = pd.read_csv('UCI HAR Dataset/train/y_train.txt', header=None)

In [19]:
y_df.head()

   0
0  5
1  5
2  5
3  5
4  5

In [20]:
test_df_x = pd.read_csv('UCI HAR Dataset/test/X_test.txt', header=None, delim_whitespace=True)
test_df_y = pd.read_csv('UCI HAR Dataset/test/y_test.txt', header=None)

In [21]:
test_df_x.head()

,0,1,2,3,4,5,6,7,8,9,...,551,552,553,554,555,556,557,558,559,560
0,0.257178,-0.023285,-0.014654,-0.938404,-0.920091,-0.667683,-0.952501,-0.925249,-0.674302,-0.894088,...,0.071645,-0.330370,-0.705974,0.006462,0.162920,-0.825886,0.271151,-0.720009,0.276801,-0.057978
1,0.286027,-0.013163,-0.119083,-0.975415,-0.967458,-0.944958,-0.986799,-0.968401,-0.945823,-0.894088,...,-0.401189,-0.121845,-0.594944,-0.083495,0.017500,-0.434375,0.920593,-0.698091,0.281343,-0.083898
2,0.275485,-0.026050,-0.118152,-0.993819,-0.969926,-0.962748,-0.994403,-0.970735,-0.963483,-0.939260,...,0.062891,-0.190422,-0.640736,-0.034956,0.202302,0.064103,0.145068,-0.702771,0.280083,-0.079346
3,0.270298,-0.032614,-0.117520,-0.994743,-0.973268,-0.967091,-0.995274,-0.974471,-0.968897,-0.938610,...,0.116695,-0.344418,-0.736124,-0.017067,0.154438,0.340134,0.296407,-0.698954,0.284114,-0.077108
4,0.274833,-0.027848,-0.129527,-0.993852,-0.967445,-0.978295,-0.994111,-0.965953,-0.977346,-0.938610,...,-0.121711,-0.534685,-0.846595,-0.002223,-0.040046,0.736715,-0.118545,-0.692245,0.290722,-0.073857

In [22]:
from keras.utils import to_categorical

In [23]:
train_y = to_categorical(y_df)

In [24]:
train_y[:5]

array([[0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 1., 0.]], dtype=float32)

In [25]:
test_y = to_categorical(test_df_y)

In [42]:
n_timesteps = df.shape[1]
n_features = df.shape[1]
n_outputs = train_y.shape[1]

In [43]:
n_timesteps

561

In [44]:
n_features

561

In [30]:
n_outputs

7

In [32]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Conv1D, MaxPool1D, Dropout, Dense, Flatten

In [57]:
model = Sequential()
model.add(Conv1D(filters=64, kernel_size=3, activation='relu', input_shape=(n_timesteps, 1)))
model.add(Conv1D(filters=64, kernel_size=3, activation='relu'))
model.add(MaxPool1D(pool_size=2))
model.add(Flatten())
model.add(Dense(120, activation='relu'))
model.add(Dense(n_outputs, activation="softmax"))

In [58]:
model.summary()

Model: "sequential_6"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv1d_11 (Conv1D)          (None, 559, 64)           256

 conv1d_12 (Conv1D)          (None, 557, 64)           12352

 max_pooling1d_5 (MaxPooling  (None, 278, 64)          0
 1D)

 flatten_4 (Flatten)         (None, 17792)             0

 dense_10 (Dense)            (None, 120)               2135160

 dense_11 (Dense)            (None, 7)                 847

=================================================================
Total params: 2,148,615
Trainable params: 2,148,615
Non-trainable params: 0
_________________________________________________________________

In [59]:
model.compile(optimizer="adam", loss="categorical_crossentropy", metrics=['accuracy'])

In [60]:
model.fit(df, train_y, epochs=5, batch_size=32, validation_data=(test_df_x, test_y))

Epoch 1/5
230/230 [==============================] - 8s 34ms/step - loss: 0.2985 - accuracy: 0.8795 - val_loss: 0.1777 - val_accuracy: 0.9304
Epoch 2/5
230/230 [==============================] - 8s 33ms/step - loss: 0.0708 - accuracy: 0.9750 - val_loss: 0.1784 - val_accuracy: 0.9410
Epoch 3/5
230/230 [==============================] - 7s 32ms/step - loss: 0.0440 - accuracy: 0.9837 - val_loss: 0.2593 - val_accuracy: 0.9179
Epoch 4/5
230/230 [==============================] - 7s 31ms/step - loss: 0.0379 - accuracy: 0.9860 - val_loss: 0.1847 - val_accuracy: 0.9393
Epoch 5/5
230/230 [==============================] - 7s 31ms/step - loss: 0.0477 - accuracy: 0.9841 - val_loss: 0.2490 - val_accuracy: 0.9318